# Copy this file to .env and fill in your actual API key
GEMINI_API_KEY=your_gemini_api_key_here
FIREBASE_SECRET=pr6IGWkc8Wa28DqgfxMWZdZueGfKyJfoWhPf4g9V
FIREBASE_URL=https://visual-adapter-default-rtdb.firebaseio.com/
